<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="http_proxy" value="http://127.0.0.1:7897" />
    <add key="https_proxy" value="http://127.0.0.1:7897" />
    <add key="HttpHandlerTimeout" value="120000" />
    <add key="MaxRetries" value="3" />
  </config>
  <packageSources>
    <clear />
    <add key="local" value="C:\Users\24656\nuget-packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
